<form name="signup" action="/signup" method="POST">
    <label class="form__input">Имя<input name="name" type="text" required></label>
    <label class="form__input">Email<input name="mail" type="email" required></label>
    <label class="form__input">Пароль<input name="password" type="password" required></label>
    <label class="form__input">Подтверждение пароля<input name="password_confirm" type="password" required></label>
    <output name="error" class="error_message">{ERROR}</output>
    <input class="form__input link button" name="signup" type="submit" value="Зарегистрироваться">
</form>
<script>
    document.forms.signup.addEventListener('input', (e)=>e.currentTarget.error.innerText = '');
    document.forms.signup.addEventListener('submit', (e) => {
        if (e.target.password.value != e.target.password_confirm.value) {
            e.preventDefault();
            document.querySelector('.error_message').innerText = 'Пароли не совпадают!';
        }
    });
</script>